:root {
  --footer-height: 60px;
  --sidebar-width: 200px;
  --cta-height: 7rem;

  --main-text-color: #7e7f89;
  --active-element-color: #adff2f;

  --sidebar-padding: 15px;
}
/* RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}
a:hover{
  color: white;
}
/* COMMON  */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  min-width: 450px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* MAIN  */
main {
  width: 100%;
  height: calc(100% - var(--footer-height));
}

/* aside  */
.side-padding{/*padding common to sidebar elements*/
  padding-left: var(--sidebar-padding);
  padding-right: var(--sidebar-padding);
}
.sidebar {
  float: left;
  position: relative;
  background-color: black;
  height: 100%;
  width: var(--sidebar-width);
  overflow: hidden;
}
/*SIDEBAR TOP SECTION*/
.sidebar-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 60px);
  min-height: 350px;
}

/*tag <a> common elements*/
.sidebar-top a {
  font-size: 1.5rem;
  font-weight: 600;
}

/*SPOTIFY LOGO*/
.sidebar-top .logo{
  height: 70px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sidebar-top .logo .regular {
  width: 65%;
}
.sidebar-top .logo .responsive{
  display: none;
}

/*SIDE NAV ELEMENTS*/
.sidebar-top .side-options {
  margin-bottom: 25px;
}
.sidebar-top .side-options li{
  padding-left: var(--sidebar-padding);
  margin-bottom: 10px;
  border-left: 3px solid transparent;
}
.sidebar-top .side-options li.active{
  border-left: 3px solid var(--active-element-color);
}
.sidebar-top .side-options img {
  display: inline-block;
  width: auto;
  height: 2.5rem;
  margin-right: 10px;
  opacity: 0.5;
}
.sidebar-top .side-options li:hover img{
  opacity: 1;
}

/*PLAYLIST SECTION*/
.sidebar-top .playlist {
  overflow: hidden;
  flex-grow: 1;
}
.sidebar-top .playlist-header {
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.sidebar-top .playlist-items {
  /*ul*/
  height: 60%;
  max-height: 200px;
  overflow-y: auto;
}
.sidebar-top .playlist a {
  line-height: 35px;
}
.sidebar-top .new-playlist {
  margin-bottom: 10px;
}
/* add + icon with css */
.sidebar-top .new-playlist span {
  background-color: #a3a3a3;
  margin-right: 10px;
  color: black;
  width: 40px;
  height: 40px;
  font-size: 40px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
}
.sidebar-top .new-playlist a {
  vertical-align: middle;
}

/*PROFILE SECTION*/
.sidebar .profile {
  width: 100%;
  height: 60px;
}

/* download app  */
.sidebar .download-app {
  border-bottom: 1px solid var(--main-text-color);
}
.sidebar .download-app img {
  width: 15px;
  height: auto;
  margin-right: 5px;
  padding: 5px 0;
}
.sidebar .download-app a {
  font-weight: bold;
}

/* name tag  */
.sidebar .name-tag {
  padding: 5px 0;
}
.sidebar .name-tag img {
  width: 20px;
  height: auto;
  border: 1px solid white;
  border-radius: 50%;
  background-color: var(--main-text-color);
  margin-right: 5px;
}
.sidebar .name-tag a {
  font-weight: bold;
  font-size: 15px;
}

/*middle align image and text*/
.sidebar .profile img,
.sidebar .profile a {
  vertical-align: middle;
}


@media screen and (max-width: 600px) {
  :root{
    --sidebar-width: calc(2.5rem + (var(--sidebar-padding) * 2));
  }
  /* LOGO  SECTION  */
  .sidebar-top .logo{
    height: auto;
  }
  .sidebar-top .logo .regular {
    display: none;
  }
  .sidebar-top .logo .responsive{
    display: block;
    width: 2.5rem;
    height: auto;
  }

  /* side navigation section  */
  .sidebar-top .side-options span{
    display: none;
  }
  .sidebar-top .side-options li{
    border-left: none;
  }
  .sidebar-top .side-options li.active{
    border-left: none;
  }

  /* playlist section  */
  .sidebar-top .playlist{
    display: none;
  }

  /* bottom section  */
  .sidebar .profile{
    text-align: center;
  }
  .sidebar .profile span{
    display: none;
  }

  .sidebar .name-tag img,
  .sidebar .download-app img{
    margin: 0;
  }

  
}
/* SECTION  */
section {
  background-color: #242630;
  float: left;
  width: calc(100% - var(--sidebar-width));
  height: calc(100vh - var(--footer-height));
  overflow-y: auto;
}

/* main section  */
/*UPGRADE CTA BANNER*/
.upgrade-cta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - var(--sidebar-width));
  height: var(--cta-height);
  background-color: rgba(25, 23, 34, 0.5);
  position: fixed;
  z-index: 100;
}
.upgrade-cta .btn {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 20px;
  padding: 0.5rem 2.5rem;
  border-radius: 2rem;
  border: 2px solid white;
  transition: all 0.3s;
}
.upgrade-cta .btn:hover {
  transform: scale(1.1);
}

/* NAVIGATION BAR  */
nav {
  margin: 0 auto;
  margin-top: calc(var(--cta-height) + 1.5rem);
  text-align: center;
}
.nav-list li {
  display: inline-block;
}
.nav-list li a {
  position: relative;
  margin: 10px 0;
  padding: 0 0.7rem;
  display: block;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bolder;
}

.nav-list .active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  right: 50%;
  transform: translateX(50%);
  width: 25%;
  border-bottom: 2px solid var(--active-element-color);
}

/* MUSIC SECTION  */
.music {
  width: 100%;
  margin-top: 20px;
  padding: 0 15px;
}
.music .music-row{
  margin-bottom: 20px;
}
.music .row-header{
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
}
.music .music-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.music .card{
  width: calc(100% / 6 - 15px);
  height: auto;
  margin-right: 15px;
  text-align: center;
}
.music .music-thumb{
  position: relative;
  margin-bottom: 10px;
}
.music .card h3{
  margin-bottom: 5px;
  color: white;
  font-size: 1.3rem;
  font-weight: bolder;
}
.music .card h4{
  line-height: 20px;
  color: var(--main-text-color);
  margin-bottom: 5px;
}

.music .music-row>h4{
  color: var(--main-text-color);
  margin-bottom: 25px;
}
/* layover card  */
.music i{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5rem;
  display: none;
}
.music .music-thumb:hover{
  cursor: pointer;
}
.music .card:hover img{
  opacity: 0.3;
}
.music .card:hover i{
  display: block;
}

/* round card */
.round-card{
  border-radius: 50%;
  overflow: hidden;
}

/* music section responsive  */
@media screen and (max-width: 1100px) {

  .music .card{
    width: calc(100% / 4 - 15px);
  }

}
@media screen and (max-width: 700px) {

  .music .card{
    width: calc(100% / 2 - 15px);
  }
}


/* FOOTER  */
footer {
  background-color: #171717;
  height: var(--footer-height);

  display: flex;
  justify-content: space-between;
}

/* current song section  */
.current-song{
  height: 100%;
  width: 200px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
}
.current-song .song-cover{
  height: 40px;
  width: 20%;
  display: flex;
  align-items: center;
}
.current-song .song-cover img{
  height: 100%;
  width: auto;
}
.current-song .song-info{
  margin-left: 10px;
  width: 40%;
}
.current-song .song-name{
  font-weight: bolder;
  font-size: 13px;
  color: white;
}
.current-song .song-info a:hover{
  text-decoration: underline;
  cursor: pointer;
}


.current-song .icons{
  height: 40px;
  width: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.current-song .icons a{
  font-size: 13px;
  margin-left: 5px;
  color: white;
  opacity: 0.5;
}
.current-song .icons a:hover{
  opacity: 1;
  cursor: pointer;
}

/* play song section  */
.play-options{
  background-color: blue;
  /* debug:  */
  height: 100%;
  width: 40%;
  /* min-width: 200px; */
}


/* volume options  */
.volume-options{
  /* background-color: #ffff00; */
  /* debug:  */
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume-options ul li{
  display: inline-block;
  margin-right: 10px;
  font-size: 10px;
  color: white;
}
.volume-options .volume-control{
  position: relative;
  width: 100px;
  height: 4px;
  background-color: var(--main-text-color);
  border-radius: 5px;
}
.progress-bar{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: white;
  border-radius: 5px;
}
.progress-bar:hover{
  background-color: green;
}
.progress-bar:hover::after{
  position: absolute;
  bottom: 50%;
  left: 100%;
  transform: translate(-50%, 50%);

  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

@media screen and (max-width: 600px) {

  .current-song,
  .play-options,
  .volume-options{
    width: calc(100%/3);
  }

}