:root{
    --footer-height: 6rem;
    --sidebar-width: 200px;
    --cta-height: 7rem;

    --main-text-color: #7e7f89;
}
/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
}
/* COMMON  */
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* MAIN  */
main{
    width: 100%;
    height: calc(100% - var(--footer-height));
}

/* aside  */
.sidebar{
    float: left;
    position: relative;
    background-color: black;
    height: 100%;
    width: var(--sidebar-width);
    padding: 0 10px 0 15px;
    overflow: hidden;
}
/*SIDEBAR TOP SECTION*/
.sidebar-top{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 5rem);
    min-height: 350px;
}

/*tag <a> common elements*/
.sidebar-top a{
    text-decoration: none;
    color: var(--main-text-color);
    font-size: 1.5rem;
    font-weight: 600;
}
.sidebar-top a:hover{
    color: white;
}

/*SPOTIFY LOGO*/
.sidebar-top .logo{
    position: relative;
    height: 70px;
    margin-bottom: 10px;
}
.sidebar-top .logo img{
    width: 80%;
}

/*SIDE NAV ELEMENTS*/
.sidebar-top .active::before{
    content: "";
    width: 1px;
    height: 2.5rem;
    border-left: 3px solid #adff2f;
    position: relative;
    right: 15px;
}
.sidebar-top .side-options{
    margin-bottom: 25px;
}
.sidebar-top .side-options img{
    display: inline-block;
    width: auto;
    height: 2.5rem
}
.sidebar-top .side-options li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.sidebar-top .side-options a{
    margin-left: 10px;
}
.sidebar-top .side-options a:hover{
    color: white;
}

/*PLAYLIST SECTION*/
.sidebar-top .playlist{
    overflow: hidden;
    flex-grow: 1;
}
.sidebar-top .playlist-header{
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.sidebar-top .playlist-items{  /*ul*/
    height: 60%;
    max-height: 200px;
    overflow-y: auto;
}
.sidebar-top .playlist a{
    line-height: 35px;
}
.sidebar-top .new-playlist{
    margin-bottom: 10px;
}
/* add + icon with css */
.sidebar-top .new-playlist span{
    background-color: #a3a3a3;
    margin-right: 10px;
    color: black;
    width: 40px;
    height: 40px;
    font-size: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
}
.sidebar-top .new-playlist a{
    vertical-align: middle;
}

/*PROFILE SECTION*/
.sidebar .profile{
    background-color: tomato;
    /* debug: */
    width: 100%;
    height: 5rem;
}



/* SECTION  */
section{
    background-color: #242630;
    /* debug: */
    float: left;
    width: calc(100% - var(--sidebar-width));
    height: calc(100vh - var(--footer-height));
    overflow-y: auto;
}

/* main section  */
/*UPGRADE CTA BANNER*/
.upgrade-cta{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - var(--sidebar-width));
    height: var(--cta-height);
    background-color: rgba(25, 23, 34, 0.5);
    position: fixed;
    z-index: 100;
}
.upgrade-cta .btn{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px;
    padding: 0.5rem 2.5rem;
    border-radius: 2rem;
    border: 2px solid white;
    transition: all 0.3s;
}
.upgrade-cta .btn:hover{
    transform: scale(1.1);
}

/* NAVIGATION BAR  */
nav{
    margin: 0 auto;
    margin-top: calc(var(--cta-height) + 1.5rem);
    text-align: center;
}
.nav-list li{
    display: inline-block;
}
.nav-list li a{
    position: relative;
    padding: 0 0.7rem;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--main-text-color);
}
.nav-list li a:hover{
    color: white;
}
.nav-list .active::after{
    content: "";
    position: absolute;
    bottom: -4px;
    right: 50%;
    transform: translateX(50%);
    width: 25%;
    border-bottom: 2px solid #adff2f;
}


/* MUSIC SECTION  */
.music{
    background-color: pink;
    height: 6rem;
    /* debug: */
    width: 100%;
    margin-top: 20px;
}



/* FOOTER  */
footer{
    background-color: #171717;
    height: var(--footer-height);
}